*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
    background-image:linear-gradient(rgba(41, 38, 38, 0.5),rgba(41, 38, 38, 0.5)) ,url(bbooks-2596809_1920.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
}
ul li a:hover{
    background-color:#fff;
    color:black;
}
ul li.active a{
    background-color:#fff;
    color:black;
    
}
.logo img{
    float: left;
    width: 250px;
    height: auto;
    
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #fff;
    font-size: 80px;
}
.title2{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title2 button {
    background-color: #ffffff;
    color: rgb(15, 9, 9);
    padding: 14px 20px;
    margin-top: 15%;
    border: none;
    width: 100%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
.title2 button:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .title2 b{
      color: #fff;
  }
  .title3{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title3 h1{
    color: #fff;
    font-size: 20px;
}